<h3>Create a User</h3>
<%= form_for @user do |f| %>
  <p>Enter user's Name: <%= f.text_field :name, placeholder: "user name" %></p>
  <p>Enter Favorite Phrase: <%= f.text_field :slogan, placeholder: "user says.." %></p>

  <%= f.submit %>
<% end %>
