<h3>Edit a Task</h3>
<%= form_for @task do |f| %>
  <p>Edit Task's Name: <%= f.text_field :name, placeholder: "task name" %></p>
  <p>Edit Task Status: <%= f.text_field :status, placeholder: "task status.." %></p>
  <%= f.submit %>
<% end %>
