<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome to
    <p><i>TaskBase</i> 😏</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<h2><p>CREATE YOUR PROJECTS. MANAGE YOUR TASKS.</p>
  <p>LIVE YOUR LIFE.</p></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p><i> a ruby on rails app by simon balean & rhuwell samano </i></p>
<p> (in-development) </p>

<%= button_to "All My Projects", projects_path, method: :get %>
<br>
<br>
<br>
<br>
<br>
<br>
for development: <%= button_to "All Tasks", tasks_path, method: :get %>
