<h3>Edit a UserProject</h3>
<%= form_for @userproject do |f| %>
  <p>Edit UserProject's Name: <%= f.text_field :name, placeholder: "userproject name" %></p>
  <p>Edit Favorite Phrase: <%= f.text_field :slogan, placeholder: "userproject says.." %></p>

  <%= f.submit %>
<% end %>
