<table>
  <% @userprojects.each do |userproject| %>
    <tr>
      <td><%= link_to userproject.name, userproject_path(userproject) %></td>
      <td><%= button_to 'Edit', edit_userproject_path(userproject), method: 'get'%></td>
      <td><%= button_to 'Remove', userproject_path(userproject), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New UserProject", new_userproject_path %>
