<h3>Create a UserProject</h3>
<%= form_for @userproject do |f| %>
  <p>Enter UserProject's Name: <%= f.text_field :name, placeholder: "userproject name" %></p>
  <p>Enter Favorite Phrase: <%= f.text_field :slogan, placeholder: "userproject says.." %></p>

  <%= f.submit %>
<% end %>
