



<% @projects.each do |project| %>
     <div class="card-body">
      <div class="row actions">
        <a href="#" class="core-sprite love hide-text">Love</a>
        <a href="#" class="core-sprite comment hide-text">Comment</a>
        <a href="#" class="core-sprite bookmark hide-text ml-auto">Bookmark</a>
      </div>
      <div><strong><%= pluralize(16, "like") %></strong></div>
      <div>
        <span><strong><% project.title %></strong></span>
        <span><% project.title %></span>
      </div>
      <div class="light-color post-time"><%= time_ago_in_words(project.created_at).upcase %> AGO</div>
      <hr>
      <div class="row actions">
        <form action="#" class="w-100">
          <div>
            <textarea class="form-control comment-input border-0" placeholder="Add a comment ..." rows="1"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
