<h3>Edit a Project</h3>
<%= form_for @project do |f| %>
  <p>Enter project's Name: <%= f.text_field :title, placeholder: "project title" %></p>
  <p>Enter Favorite Phrase: <%= f.text_field :description, placeholder: "project description.." %></p>

  <%= f.submit %>
<% end %>
