<table>
  <% @projects.each do |project| %>
    <tr>
      <td><%= button_to "#{project.title}", project_path(project), method: :get %></td>
      <td><%= button_to 'Edit', edit_project_path(project), method: 'get'%></td>
      <td><%= button_to 'Remove', project_path(project), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Project", new_project_path %>
