<div class="wrapper"><h3>Create a Project</h3>
<%= form_for @project do |f| %>
  <p>Enter Project Title: <%= f.text_field :title, placeholder: "title" %></p>
  <p>Enter Description: <%= f.text_field :description, placeholder: "description" %></p>
  <%= f.submit %>
<% end %>
</div>
